.table {
  display: flex;
  flex-direction: column;
  max-width: 801px;
}

.table__header {
  list-style: none;
  grid-template-columns: 80px 281px 120px 120px 120px;
  column-gap: 20px;
  display: grid;
  padding: 0;
  margin: 0;
  margin-top: 48px;
  align-items: center;
  padding-bottom: 16px;
  border-bottom: 1px solid rgba($color-default-black, 0.1);

  @include vp--1439 {
    grid-template-columns: max-content max-content max-content;
    border-bottom: none;
  }
}

.table__col {
  border: none;
  background-color: transparent;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  padding: 0;
  margin: 0;
}

.table__body .table__col {
  font-size: 16px;
  line-height: 24px;

  @include vp--1439 {
    font-size: 14px;
    line-height: 20px;
  }
}

.table__desk {
  @include vp--1439 {
    display: none;
  }
}

.table__mobile {
  display: none;

  @include vp--1439 {
    display: inline;
  }
}

.table__col-span {
  opacity: 0.5;
}

.table__btn {
  cursor: pointer;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: calc(50% - 3px);
    transform: translateY(-50%);
    right: -12px;
    width: 7px;
    height: 4px;
    display: block;
    background-image: url("../img/svg/arrow.svg");
  }

  &::before {
    content: "";
    position: absolute;
    top: calc(50%);
    right: -11.5px;
    width: 7px;
    height: 4px;
    display: block;
    background-image: url("../img/svg/arrow.svg");
    transform: rotate(180deg) translateY(-50%);
  }

  &:hover {
    color: $color-medium-sea-green;
  }

  &--down {
    &::before {
      background-image: url("../img/svg/arrow-green.svg");
    }
  }

  &--up {
    &::after {
      background-image: url("../img/svg/arrow-green.svg");
    }
  }
}

.table__body {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 48px;
}

.table__item {
  grid-template-columns: 80px 281px 120px 120px 120px;
  column-gap: 20px;
  display: grid;
  padding: 16px 0 24px 0;
  margin: 0;
  align-items: start;
  border-bottom: 1px solid rgba($color-default-black, 0.1);

  &--hidden {
    display: none;
  }

  @include vp--1439 {
    border: 1px solid rgba($color-default-black, 0.1);
    border-radius: 8px;
    padding: 16px 24px;
    grid-template-columns: 43px 75px 78px 1fr;
    margin-bottom: 4px;
  }
}

.table__icon {
  @include vp--1439 {
    grid-column: -1;
    grid-row: 1/ span 2;
  }
}

.table__flat {
  @include vp--1439 {
    grid-column: 1/-1;
  }
}

.table__load-btn {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid rgba($color-midnight-express, 0.2);
  border-radius: 25px;
  background-color: transparent;
  width: max-content;
  padding: 8px 24px;
  cursor: pointer;

  &--disabled {
    display: none;
  }

  @include vp--1439 {
    font-size: 15px;
    line-height: 22px;
  }

  &:hover {
    border: 1px solid rgba($color-midnight-express, 1);
  }

  &:active {
    transform: translateY(3px);
  }
}
